name: app
description: Lemonade Social App
publish_to: "none"
version: 1.20.0

environment:
  flutter: "3.19.6"
  sdk: "3.3.4"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # i18n
  slang: ^3.18.1
  slang_flutter: ^3.18.0

  # networking
  graphql_flutter: ^5.1.2
  dio: ^5.3.2
  http: ^1.1.2

  # data
  freezed_annotation: ^2.2.0
  json_annotation: ^4.8.1

  # injection
  get_it: ^7.6.0
  injectable: ^2.1.2

  # state management
  flutter_bloc: ^8.1.3
  bloc_concurrency: ^0.2.2

  # local storage
  hive: ^2.2.3
  flutter_secure_storage: ^8.1.0
  sqflite: ^2.3.0
  path: ^1.8.3

  # navigation
  auto_route: ^7.4.0

  # oauth
  oauth2_client: ^3.2.1
  flutter_appauth: ^5.0.0

  #env
  flutter_dotenv: ^5.1.0

  # assets
  flutter_svg: ^2.0.7
  cached_network_image: 3.3.1
  image_picker: ^1.0.2
  image_cropper: ^5.0.1

  # UI
  flutter_portal: 1.1.4
  intl: ^0.18.0
  timeago: ^3.5.0
  sliver_tools: ^0.2.12
  flutter_slidable: ^3.0.0
  scroll_to_index: ^3.0.1
  flutter_typeahead: ^4.6.2
  flutter_linkify: ^6.0.0
  flutter_html: ^3.0.0-beta.2
  flutter_blurhash: 0.8.2
  emoji_picker_flutter: ^1.6.1
  mime: ^1.0.4
  flutter_screenutil: ^5.9.0
  pull_to_refresh_flutter3: ^2.0.1
  lottie: ^2.6.0
  expandable: ^5.0.1
  photo_view: ^0.14.0
  visibility_detector: ^0.4.0+2
  dropdown_button2: ^2.3.9
  adaptive_dialog: ^1.9.0+2
  dotted_border: ^2.0.0+3
  qr_flutter: ^4.1.0
  upgrader: ^8.1.0
  flutter_switch: ^0.3.2
  flutter_keyboard_visibility: ^5.4.1
  animated_text_kit: ^4.2.2
  flutter_styled_toast: ^2.2.1

  # Webview
  flutter_inappwebview: ^5.8.0

  # Firebase
  firebase_core: ^2.16.0
  firebase_messaging: ^14.6.8
  flutter_local_notifications: ^15.1.0+1
  firebase_analytics: 10.5.1

  # location tracking
  geolocator: 9.0.2
  rxdart: ^0.27.7

  # wallet
  walletconnect_flutter_v2: ^2.1.11
  web3dart: ^2.6.1
  convert: ^3.1.1
  bip39: ^1.0.6
  bip32: ^2.0.0

  # matrix
  matrix: ^0.22.1
  flutter_olm: ^1.2.0
  flutter_openssl_crypto: ^0.1.0
  flutter_chat_bubble: ^2.0.2
  duration: ^3.0.13

  # Loading layer
  flutter_easyloading: ^3.0.5
  shorebird_code_push: ^1.1.0

  # payment
  flutter_stripe: 9.4.0

  # crash analytics
  sentry_flutter: ^7.18.0

  # other
  path_provider: ^2.0.15
  dartz: ^0.10.1
  url_launcher: ^6.1.12
  share_plus: ^7.0.2
  shake: ^2.2.0
  flutter_native_splash: ^2.3.2
  package_info_plus: ^4.1.0
  flutter_vibrate: ^1.3.0
  connectivity_plus: any
  restart_app: ^1.2.1
  formz: ^0.6.1
  flutter_app_badger: ^1.5.0
  uuid: ^3.0.7
  flutter_google_places_hoc081098: 2.0.0-beta.1
  google_maps_webservice:
    git:
      url: https://github.com/mthinh/google_maps_webservice.git
      ref: master
  flutter_timezone: ^1.0.8
  currency_text_input_formatter: ^2.1.10
  mobile_scanner: 3.5.5
  modal_bottom_sheet: ^3.0.0-pre
  web3modal_flutter:
    path: ./packages/web3modal_flutter
  dynamic_color: ^1.7.0
  calendar_date_picker2: ^0.5.5
  wheel_picker: ^0.0.4
  appflowy_editor: 2.3.1
  google_fonts: 6.1.0
  flutter_markdown: ^0.6.20
  fl_chart: ^0.67.0
  country_picker: ^2.0.25
  smooth_page_indicator: ^1.1.0
  flutter_mentions:
    path: ./packages/flutter_mentions

dependency_overrides:
  matrix_api_lite:
    git:
      url: https://github.com/mthinh/dart_matrix_api_lite.git
      ref: main

  fcm_shared_isolate:
    git:
      url: https://github.com/sieuhuflit/fcm_shared_isolate.git
      ref: main

dev_dependencies:
  flutter_test:
    sdk: flutter

  # lints
  flutter_lints: ^3.0.1

  # code generators
  build_runner: ^2.4.7
  json_serializable: ^6.6.2
  freezed: ^2.3.5
  auto_route_generator: ^7.1.1
  injectable_generator: ^2.1.6
  flutter_gen_runner: ^5.3.1
  graphql_codegen: ^0.13.11

  # crash analytics
  sentry_dart_plugin: ^1.7.1

# generate asset
flutter_gen:
  integrations:
    flutter_svg: true

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  # assets
  assets:
    - assets/icons/
    - assets/fonts/
    - assets/images/
    - assets/lotties/
    - assets/index.html
    - .env
    - .env.staging
    - .env.production
    - shorebird.yaml
    # - shorebird.yaml

  fonts:
    - family: CircularStd
      fonts:
        - asset: assets/fonts/CircularStd-Black.ttf
          weight: 700
        - asset: assets/fonts/CircularStd-Bold.ttf
          weight: 600
        - asset: assets/fonts/CircularStd-Medium.ttf
          weight: 500
        - asset: assets/fonts/CircularStd-Book.ttf
          weight: 400
    - family: SpaceGrotesk
      fonts:
        - asset: assets/fonts/SpaceGrotesk-Regular.ttf
          weight: 400
        - asset: assets/fonts/SpaceGrotesk-SemiBold.ttf
          weight: 600
    - family: SwitzerVariable
      fonts:
        - asset: assets/fonts/Switzer-Variable.ttf
    - family: NohemiVariable
      fonts:
        - asset: assets/fonts/Nohemi-Black.ttf
          weight: 800
        - asset: assets/fonts/Nohemi-Bold.ttf
          weight: 600
        - asset: assets/fonts/Nohemi-Medium.ttf
          weight: 500
        - asset: assets/fonts/Nohemi-Regular.ttf
          weight: 400
    - family: Orbitron
      fonts:
        - asset: assets/fonts/Orbitron-Black.ttf
          weight: 900
        - asset: assets/fonts/Orbitron-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Orbitron-Bold.ttf
          weight: 700
        - asset: assets/fonts/Orbitron-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Orbitron-Medium.ttf
          weight: 500
        - asset: assets/fonts/Orbitron-Regular.ttf
          weight: 400

sentry:
  upload_debug_symbols: true
  upload_source_maps: false
  upload_sources: false
  project: lemonade-flutter
  org: lemonadesocial
  auth_token: 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
