name: app
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # i18n 
  slang: ^3.18.1
  slang_flutter: ^3.18.0

  # networking 
  graphql_flutter: ^5.1.2

  # data
  freezed_annotation: ^2.2.0
  json_annotation: ^4.8.1

  # injection
  get_it: ^7.6.0
  injectable: ^2.1.2

  # state management
  flutter_bloc: ^8.1.3
  bloc_concurrency: ^0.2.2

  # local storage
  hive: ^2.2.3

  # other
  path_provider: ^2.0.15
  dartz: ^0.10.1
  url_launcher: ^6.1.12

  # navigation
  auto_route: ^7.4.0

  # oauth
  flutter_web_auth_2: ^2.1.4
  oauth2_client: ^3.2.1
  flutter_appauth: ^5.0.0

  #env
  flutter_dotenv: ^5.1.0

  # assets
  flutter_svg: ^2.0.7
  cached_network_image: ^3.2.3

  # UI
  flutter_portal: ^1.1.4
  intl: ^0.18.0
  timeago: ^3.5.0

  # Webview
  flutter_inappwebview: ^5.7.2+3
  
  # Firebase
  firebase_core: ^2.14.0
  firebase_messaging: ^14.6.4
  firebase_crashlytics: ^3.3.3
  share_plus: ^7.0.2

  # wallet
  walletconnect_flutter_v2: ^2.0.12

dev_dependencies:
  flutter_test:
    sdk: flutter

  # lints
  flutter_lints: ^2.0.0

  # code generators
  build_runner: ^2.4.5
  json_serializable: ^6.6.2
  freezed: ^2.3.5
  auto_route_generator: ^7.1.1
  injectable_generator: ^2.1.6
  flutter_gen_runner: ^5.3.1

# generate asset 
flutter_gen:
  integrations:
    flutter_svg: true

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
  
  generate: true

  # assets
  assets:
    - assets/icons/
    - assets/fonts/
    - assets/images/
    - assets/index.html
    - .env
    - .env.staging
    - .env.production

  fonts:
    - family: CircularStd
      fonts:
        - asset: assets/fonts/CircularStd-Black.ttf
          weight: 700
        - asset: assets/fonts/CircularStd-Bold.ttf
          weight: 600
        - asset: assets/fonts/CircularStd-Medium.ttf
          weight: 500
        - asset: assets/fonts/CircularStd-Book.ttf
          weight: 400
    - family: SpaceGrotesk
      fonts:
        - asset: assets/fonts/SpaceGrotesk-Regular.ttf
          weight: 400
        - asset: assets/fonts/SpaceGrotesk-SemiBold.ttf
          weight: 600
