<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019886962700-ha9njja2rj8254i94qk23b13fr91h2kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019886962700-ha9njja2rj8254i94qk23b13fr91h2kg</string>
	<key>API_KEY</key>
	<string>AIzaSyCYBJZc55LlC-onxJYtKn8H00Y4gD7y9C8</string>
	<key>GCM_SENDER_ID</key>
	<string>1019886962700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.lemonade.app.staging</string>
	<key>PROJECT_ID</key>
	<string>lemonade-development</string>
	<key>STORAGE_BUCKET</key>
	<string>lemonade-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019886962700:ios:e169ddb278aeb42c340629</string>
</dict>
</plist>